.gform_button, .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    //padding: 10px 15px;
    gap: 15px;
    color: white;
    font-weight: 600;
    background-color: $primaryColor;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    &:hover {
        color: $primaryColor;
        outline: 3px $primaryColor solid;
        outline-offset: -3px;
        background-color: #f1f3f5;
    }
}

.add-pratica{
    min-width: 30px;
    line-height: 25px;
    border: solid 2px $primaryColor;
    border-radius: 100%;
    &:hover{
        color: $primaryColor;
    }
}

.link-pratica{
    color: white;
    &:hover{
        color: $primaryColor;
    }
}

.pne{
    &.btn-outline{
        border: solid 2px $primaryColor;
        background-color: transparent;
        color: $primaryColor;
        i{
            color: $primaryColor;
        }
    }
}