.home #content {
    background-color: black;
}

.duracao {
    color: #0dc1da
}

.destaque_helper {
    background-size: cover;
    background-repeat: no-repeat;
}

.temas_heading {
    color: #FFCC00
}

.cover-carousel {
    .doc_thumb {
        img {
            border-radius: 12px;
        }

        // &:hover{
        //     &~.doc_info{
        //         display: block;
        //     }
        // }
    }

    .doc_info {
        border-radius: 12px;
        background-color: #0dc1da;
        user-select: none;
        width: 358, 66px;

        //display: none;
        span {
            color: black;
        }

    }

    span {
        color: white
    }

}

.m-card {
    position: relative;
    display: block;
    flex: 1 1 0px;
    transition: transform 500ms;
    &:hover{
        transform: scale(1.15);
        z-index: 1;
    }
}